<VirtualHost *:80>                                                                                                                                                                          >
        ServerName {{ domain }}

        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/html/{{ domain }}

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        <Directory /var/www/html/{{ domain }}>
                AllowOverride All
                Require all granted
        </Directory>
</VirtualHost>
